 <footer class="footer">
  <div class="row mt-5 p-5 bg-dark text-light d-flex justify-content-center align-items-center">
    <div class="col-md-3">
        <h4>About</h4>
        <br>
        <h6>Shops</h6>
        <h6>Seller</h6>
        <h6>Production</h6>
        <h6>info</h6>
        <h6>Investor Relations</h6>
    </div>
    <div class="col-md-3">
        <h4>Policies</h4>
        <br>
        <h6>Shipping Rates & Policies</h6>
        <h6>Shop with Points</h6>
        <h6>Reload Your Balance</h6>
        <h6>Notice</h6>
        <h6>Cookies</h6>
    </div>
    <div class="col-md-3">
        <h4>Contact</h4>
        <br>
        <h6>Your account</h6>
        <h6>Assistant</h6>
        <h6>Oders details</h6>
        <h6>Returns & Replacements</h6>
        <h6>Security</h6>
        
    </div>
    <div class="col-md-3">
        <h4>More</h4>
        <br>
        <h6>Manage Your Content and Devices</h6>
        <h6>Currency Converter</h6>
        <h6>Become an Affiliate</h6>
        <h6>Self-Publish with Us</h6>
        <h6>Help</h6>
    </div>
</div>
    </footer>